<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}My site with SilexJS{% endblock %}</title>
	
	{% block head %}
	{% endblock %}
</head>
<body>
	<h3>My site with SilexJS</h3>
	<hr>
	{% block content %}{% endblock %}
</body>
</html>