{% extends '::base.html.twig' %}

{% block content %}
	<h4>It's home page!</h4>
	<a href="{{ url('sitexw_site_test_hello', { name: 'World', color: 'red' }) }}">Let's go Hello World in red!</a>
{% endblock %}
